<%- include ./partials/header %>

<div class="container mt-5">
    <h3>About</h3>
    <p class="mt-3 about-paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem, atque numquam quisquam corporis,
        voluptatem assumenda voluptate earum hic distinctio nam ducimus perspiciatis quam! Soluta iste impedit sapiente
        autem veritatis
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem, atque numquam quisquam corporis,
        voluptatem assumenda voluptate earum hic distinctio nam ducimus perspiciatis quam! Soluta iste impedit sapiente
        autem veritatis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem, atque numquam quisquam corporis,
        voluptatem assumenda voluptate earum hic distinctio nam ducimus perspiciatis quam! Soluta iste impedit sapiente
        autem veritatis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem, atque numquam quisquam corporis,
        voluptatem assumenda voluptate earum hic distinctio nam ducimus perspiciatis quam! Soluta iste impedit sapiente
        autem veritatis.
    </p>
</div>