<%- include ./partials/sidebar-left %>

<div class="container pt-5">
    <h3>Add New Post</h3>
    <hr>
    <div style="color: green"><%= typeof messages !== "undefined" && typeof messages.info !== "undefined" ? messages.info : "" %></div>
    <form action="/create-post" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="">Title</label>
            <input type="text" name="title" class="form-control">
        </fieldset>
        <fieldset>
            <label for="">Author</label>
            <input type="text" name="author" class="form-control">
        </fieldset>
        <fieldset>
            <label for="">Date</label>
            <input type="date" name="date" class="form-control">
        </fieldset>
        <fieldset>
            <label for="uploadfield">Upload Image</label>
            <input type="text" class="form-control" name="images" id="uploadfield">
        </fieldset>
        <fieldset>
            <label for="">Text</label>
            <textarea name="text" id="" cols="30" rows="10" class="form-control"></textarea>
        </fieldset>
        <button type="submit" class="btn btn-success create-btn float-right form-createSnippet">Save</button>
    </form>
</div>