<%- include('./partials/header') %>

    <main class="container">
        <section class="hero-blue">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <h1 class="heading">Content Management System</h1>
                    <p class="subtext">A simple CMS built with Node.js, Express and EJS — focused on clarity and speed.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>