#home {
    background-image: url('/images/wallpaper.jpeg');
}

label {
    margin-top: 20px;
    cursor: pointer;
}

.about-paragraph {
    line-height: 2rem;
}

.jumbotron {
    background: black;
    height: 310px;
    border-radius: 0;
}


/*  ------- posts ------- */
.card {
    display: inline-block;
    width: 32%;
}