.navbar {
    background-color: #050e13;
}

.signup-btn,
.signup-btn:hover,
.logout-btn,
.logout-btn:hover,
.explore-docs-btn,
.explore-docs-btn:hover {
    background-color: #E20000;
    border: none;
}

.hero-section {
    background-image: url("/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
}