.navbar {
    background-color: #09172B;
}

.jumbotron {
    background-color: #09172B;
}

.signup-btn,
.signup-btn:hover,
.logout-btn,
.logout-btn:hover {
    background-color: #E20000;
    border: none;
}